body{
    color:rgb(114, 114, 252);
    background-color:rgb(156, 243, 243);
    margin: 0;
}
 
 .header{
    display: flex;
} 

.contentList{
    font-size: 15px;
    display: flex;
}

.freshWaterList{
    font-size: 30px;
}

.fishImg{
    width: 600px;
}

.fishP{
    display: flex;
}

.contentDiv{
    font-size: 15px;
    display: flex;
}

.fishImgContent{
    height: 500px;
    padding-left: 50%;
    padding-top: 50%;  
} 

.headerElement{
    font-size: 40px;
    color: black;
    padding-left: 10px;
    border-bottom:groove;
}

.footerElement{
    text-align: center;
}

.fishTextContent:hover{
    color: red;
}

.footerTextElement:hover{
    color: red;
}