body{
    color:rgb(114, 114, 252);
    background-color:rgb(156, 243, 243);
    margin: 0;
}
 
 .header{
    display: flex;
} 

.inputText{
    margin-top:30px;
    height: 20px;
}

.mainFooterList{
    font-size: 40px;
}

.freshWaterList{
    font-size: 30px;
}

.fishImg{
    width: 600px;
}

.fishP{
    display: flex;
}

.flagHeader{
    width: 50px;
    padding-top: 25px;
    padding-left: 10px;
}

.listHeader{
    display:flex;
}

.contentDiv{
    font-size: 15px;
    display: flex;
    border-bottom: groove;
    border-color: aqua;
}

.fishImgContent{
    height: 500px;
    padding-left: 300px;
    padding-top: 200px; 
}

.headerElement{
    background-color: rgb(114, 114, 252);
    font-size: 40px;
    color: black;
    text-align: center;
}

.footerElement{
    text-align: center;
    border-top: groove;
    border-color: aqua;
}

.fishTextContent:hover{
    color: red;
}
